evaluating_big_bird_on_triviaqa.py
.vscode/launch.json
.cache/
.vscode/
.model_cache/
bigbird_hotpot_complete_tuning/
main/
data/
data2/
tb_logs/
models/
inf_logs/
command_palette.md
tmp.txt
__pycache__/
results/
.env
configures/
configures/config.ini
config.ini
find_examples/
results/